body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #ffffff;
  color: #212529;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  border-radius: 0;
  background-color: #f3c4fb;
  margin-bottom: 0;
  border: 0;
}

.navbar-text {
  width: 100%;
  font-weight: 500;
}
.navbar-default .navbar-brand {
  font-size: 18px;
  padding: 0;
  height: auto;
  color: #212529;
  font-weight: 550;
}
.navbar-header {
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin: 9px;
}

/* remove weird background color on menu */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

/* change color of dropdown menu icon */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #212529;
}

/* prevents dropdown from immediately disappearing (display: none) */
.collapse.in {
  display: block !important;
}

/* remove home and announcement on smaller screen dropdown */
@media (max-width: 764px) {
  .navbar-text {
    display: none;
  }
  .nav.navbar-nav > .active {
    display: none;
  }
}
@media (min-width: 764px) {
  .navbar-text {
    width: 75%;
    text-align: center;
    margin: 0;
  }
  .navbar-header {
    display: none;
  }
}

.navbar-default .navbar-text {
  color: #212529;
}

.navbar-nav {
  flex-direction: row;
  margin: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #f3c4fb;
  color: #212529;
}

/* justify center and space out cart/search/account */
.navbar-nav > li > a {
  padding: 5px 10px;
  float: right;
  font-weight: 550;
}

.navbar-default .navbar-nav > li > a {
  color: #272129;
}

.form-inline {
  display: block;
}

button {
  background-color: transparent;
  border: 0;
}

button:focus {
  outline: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px;
  background: rgb(236, 188, 253);
  background: radial-gradient(
    circle,
    rgba(236, 188, 253, 1) 0%,
    rgba(208, 209, 255, 1) 50%,
    rgba(192, 253, 255, 1) 100%
  );
}

div#home-filters {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  background: #ffffff;
  /* background: radial-gradient(
    circle,
    rgba(236, 188, 253, 1) 0%,
    rgba(208, 209, 255, 1) 50%,
     100%
  ); */
}

#home-filters > span {
  margin: 0 0.9em;
  font-weight: 550;

  position: sticky;
  top: 0;
  z-index: 1000;
}
/* hide each home filter */
#shop,
#themed,
#features {
  display: none;
}

/* improve ui of home filters */
span#shop-categories:hover,
span#themed-categories:hover,
span#features-categories:hover {
  cursor: pointer;
}

/* show each home filter on hover */
div#shop:hover,
span#shop-categories:hover ~ div#shop,
div#themed:hover,
span#themed-categories:hover ~ div#themed,
div#features:hover,
span#features-categories:hover ~ div#features {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: block;
}

.btn,
.btn:focus,
.btn:hover {
  margin: 1em 2em;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 9pt;
  color: #212529;
  text-decoration: none;
  transition: none;
  border: 0 solid transparent;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #d0d1ff;
  padding: 25px;
}
