body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #ffcbf2;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  border-radius: 0;
  background-color: #f3c4fb;
}

.navbar-text {
  width: 100%;
}
.navbar-brand {
  font-size: 18px;
  padding: 15px 15px;
}
.navbar-header {
  align-items: center;
  width: 100%;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin: 0;
}

/* remove weird background color on menu */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
  background-color: transparent;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

/* remove home and announcement on smaller screen dropdown */
@media (max-width: 763px) {
  .navbar-text {
    display: none;
  }
  .nav.navbar-nav > .active {
    display: none;
  }
}
@media (min-width: 764px) {
  .navbar-text {
    width: 70%;
    text-align: center;
    margin: 0;
  }
  .navbar-header {
    display: none;
  }
}

.navbar-nav {
  flex-direction: row;
  margin: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #777;
  background-color: #f3c4fb;
}

/* justify center and space out cart/search/account */
.navbar-nav > li > a {
  padding: 5px 10px;
  float: right;
}

.form-inline {
  display: block;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 10;
  background-color: #d0d1ff;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #d0d1ff;
  padding: 25px;
}
